@import "./variables.scss";

body {
  background-color: $main-color;
}

.container {
  margin: 0 auto;
  width: 85%;
  height: 100%;
}

.layout {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-gap: 15px;

  @media screen and (max-width: 814px) {
    & {
      display: flex;
      flex-direction: column;
    }
  }
}