// Общие переменные
$main-color: rgb(235, 235, 235);

// Переменные формы
$margin-top-form-input-label: 17px;
$margin-bottom-form-input-label: 5px;
$margin-left-form-input-label: 24px;
$margin-right-form-input-label: 24px;
$font-family: 'Source Sans Pro', sans-serif;
$form-width: 314px;

// Переменные для карточки продукта
